.places__image {
  grid-area: image;
  max-width: 29em;
  height: 28.7em;
}

@media screen and (max-width: 1275px) {
  .places__image {
    object-fit: cover;
    max-width: 27.5em;
    height: 27.3em;
  }
}

@media screen and (max-width: 1020px) {
  .places__image {
    object-fit: cover;
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .places__image {
    object-fit: cover;
    width: 320px;
    height: 320px;
  }
}
