.places__image {
  grid-area: image;
  max-width: 29em;
  min-height: 28.7em;
  width: 100%;
}

@media screen and (max-width: 1275px) {
  .places__image {
    object-fit: cover;
    max-width: 27.5em;
    min-height: 27.3em;
  }
}

@media screen and (max-width: 1020px) {
  .places__image {
    object-fit: cover;
    max-width: 340px;
    min-height: 340px;
  }
}

@media screen and (max-width: 760px) {
  .places__image {
    object-fit: cover;
    max-width: 320px;
    min-height: 320px;
  }
}
