.places__title {
  display: flex;
  grid-area: title;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 1020px) {
  .places__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 760px) {
  .places__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
