.places__container {
  max-width: 984px;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 80px;
}


@media screen and (max-width: 1270px) {
  .places__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 1020px) {
  .places__container:first-child {
    padding-top: 0;
  }

  .places__container {
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .places__container {
    padding-top: 50px;
    max-width: 320px;
  }
}

