.places__container {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}



@media screen and (max-width: 1020px) {
  .places__container {
    padding-top: 48px;
  }
}

@media screen and (max-width: 760px) {
  .places__container {
    padding-top: 49px;
  }


}
