.header__logo {
  padding-left: 48px;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header__logo{
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 100%;
    max-width: 142px;
    height: 42px;
    margin: 0;
  }
}
