.places__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-top: 0;
}

@media screen and (max-width: 1275px) {
  .places__text {
  margin-bottom: 18px;
  }
}

@media screen and (max-width: 1020px) {
  .places__text {
    font-size: 16px;
    margin-bottom:  24px;
  }
}

@media screen and (max-width: 760px) {
  .places__text {
  margin-bottom: 25px;
  }

  .places__text:last-of-type {
    margin-bottom: 0;
  }
}

