.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 28px 48px 0px 0px;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .header {
    justify-content: flex-start;
    padding: 16px 16px 48px;
  }
}
