.into {
  align-self: flex-start;
  display: flex;
  flex-direction:column;
  max-width: 690px;
  width: 100%;
  padding-left: 6.2em;
  padding-top: 5.8em;
}

@media screen and (max-width: 1270px) {
  .into {
    padding-left: 48px;
    max-width: 690px;
    min-height: 208px;
  }
}

@media screen and (max-width: 1020px) {
  .into {
    padding: 5.5em 1.46em;
    max-width: 720px;
    min-height: 208px;
  }
}

@media screen and (max-width: 340px) {
  .into {
    padding: 64px 16px;
    max-width: 288px;
    min-height: 754px;
  }
}
