.places__card {
  max-width: 984px;
  width: 100%;
  display: grid;
  justify-content: center;
  column-gap: 2.5em;
  row-gap: 3em;
  grid-template-columns: 28.7em 30.2em;
  grid-template-areas:
      "title website"
      "image paragraph"
      "image paragraph";
  justify-items: stretch;
}

@media screen and (max-width: 1275px) {
  .places__card {
    grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
    column-gap: 2em;
  }
}

@media screen and (max-width: 1020px) {
  .places__card {
    column-gap: 28px;
    grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);
    row-gap: 48px;
  }
}

@media screen and (max-width: 760px) {
  .places__card {
    display: grid;
    grid-template-areas: "title"
    "website" "image" "paragraph";
    gap: 32px;
  }
}
