.photo-grid__items {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.9em;
}

@media screen and (max-width: 1275px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    min-height: 942px;
    gap: 0.7em;
  }
}

@media screen and (max-width: 1020px) {
  .photo-grid__items {
    width: auto;
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    gap: 0.75em;
  }
}

@media screen and (max-width: 760px) {
  .photo-grid__items {
    justify-items: center;
    grid-template-columns:  minmax(288px, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 0 16px 15px;
    min-height: 2724px;
  }
}
