.cover__title {
  width: 100%;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .cover__title {
    display: flex;
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    padding-top: 33px;
    padding-bottom: 16px;
    align-items: center;
  }
}
