.into__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.37em;
  line-height: 1.09em;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .into__title {
    width: 85%;
    font-size: 32px;
    line-height: 35px;
  }
}


